* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  background-color: #fef8ed;
  padding: 20px;
}

body,
input,
textarea {
  font: 500 1.6rem sans-serif;
}
